<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="r-panel-body">
          <h3 class="card-title">Personalizacion</h3>
          <ul id="themecolors" class="m-t-20 p-0">
            <div class="row">
              <div class="col-6">
                <li><b>Con el sidebar claro</b></li>
                <li>
                  <a
                    (click)="changeTheme('default', link1)"
                    #link1
                    data-theme="default"
                    class="selector default-theme"
                    >1</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('green', link2)"
                    #link2
                    data-theme="green"
                    class="selector green-theme"
                    >2</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('red', link3)"
                    #link3
                    data-theme="red"
                    class="selector red-theme"
                    >3</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('blue', link4)"
                    #link4
                    data-theme="blue"
                    class="selector blue-theme"
                    >4</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('purple', link5)"
                    #link5
                    data-theme="purple"
                    class="selector purple-theme"
                    >5</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('megna', link6)"
                    #link6
                    data-theme="megna"
                    class="selector megna-theme"
                    >6</a
                  >
                </li>
              </div>

              <div class="col-6">
                <li class="d-block "><b>Con el sidebar oscuro</b></li>
                <li>
                  <a
                    (click)="changeTheme('default-dark', link7)"
                    #link7
                    data-theme="default-dark"
                    class="selector default-dark-theme"
                    >7</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('green-dark', link8)"
                    #link8
                    data-theme="green-dark"
                    class="selector green-dark-theme"
                    >8</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('red-dark', link9)"
                    #link9
                    data-theme="red-dark"
                    class="selector red-dark-theme"
                    >9</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('blue-dark', link10)"
                    #link10
                    data-theme="blue-dark"
                    class="selector blue-dark-theme"
                    >10</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('purple-dark', link11)"
                    #link11
                    data-theme="purple-dark"
                    class="selector purple-dark-theme"
                    >11</a
                  >
                </li>
                <li>
                  <a
                    (click)="changeTheme('megna-dark', link12)"
                    #link12
                    data-theme="megna-dark"
                    class="selector megna-dark-theme"
                    >12</a
                  >
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
