<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Barra de progreso</h3>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="progres1 + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Barra de progreso</h3>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped success progress-bar-animated"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 75%;background-color: chartreuse;"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<div class="row ">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-incrementador
      titulo="Barra Azul"
      [porcentaje]="progres1"
      (cambiarValor)="progres1 = $event"
    ></app-incrementador>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-incrementador
      titulo="Barra Verde"
      [porcentaje]="progres2"
    ></app-incrementador>
  </div>
</div>
